<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"> </script>
    <style>
        .form-check-label {
			padding-top: calc(.5rem - 1px * 2);
			padding-bottom: calc(.5rem - 1px * 2);
			margin-bottom: 0;
		}

    </style>
</head>

<title>RecipeDB Search</title>

<body>
    <div class="container">
    <div class="row">
    <a class="col-7 mt-4 mb-4" href="{{url_for('index') }}"><h1>RecipeDB</h1> </a>
        <a class="col-1 mt-4 mb-4" href="{{ url_for('search') }}">Search</a>
        <a class="col-2 mt-4 mb-4" href="{{ url_for('advanced_search') }}">Advanced Search</a>
        <a class="col-2 mt-4 mb-4" href="{{ url_for('backwards_ingredient') }}">Find via Ingredient</a>
    </div>
</div>
<!--    <form action="{{ url_for('advanced_search') }}" method="POST">-->
<!--        <label for="search">Query:</label>-->
<!--        <input type="text" name="phrase" id="search"><br>-->
<!--        <label for="name">Condition:</label>-->
<!--        <input name="name" type="text" id="name" placeholder="Enter a condition" autocomplete="off">-->

<!--        <a href="#" id="btnAdd">Add</a>-->
<!--        <br>-->
<!--        <label for="list">Condition List:</label>-->
<!--        <select id="list" name="list" multiple>-->

<!--        </select>-->
<!--        <a href="#" id="btnRemove">Remove Selected Condition</a>-->
<!--    -->
<!--        <script>-->
<!--            const btnAdd = document.querySelector('#btnAdd');-->
<!--            const btnRemove = document.querySelector('#btnRemove');-->
<!--            const sb = document.querySelector('#list');-->
<!--            const name = document.querySelector('#name');-->
<!--    -->
<!--            btnAdd.onclick = (e) => {-->
<!--                e.preventDefault();-->
<!--    -->
<!--                // validate the option-->
<!--                if (name.value == '') {-->
<!--                    alert('Please enter the name.');-->
<!--                    return;-->
<!--                }-->
<!--                // create a new option-->
<!--                const option = new Option(name.value, name.value);-->
<!--                option.selected = true;-->
<!--                // add it to the list-->
<!--                sb.add(option, undefined);-->
<!--    -->
<!--                // reset the value of the input-->
<!--                name.value = '';-->
<!--                name.focus();-->
<!--            };-->
<!--            // remove selected option-->
<!--            btnRemove.onclick = (e) => {-->
<!--                e.preventDefault();-->
<!--    -->
<!--                // save the selected option-->
<!--                let selected = [];-->
<!--    -->
<!--                for (let i = 0; i < sb.options.length; i++) {-->
<!--                    selected[i] = sb.options[i].selected;-->
<!--                }-->
<!--    -->
<!--                // remove all selected option-->
<!--                let index = sb.options.length;-->
<!--                while (index&#45;&#45;) {-->
<!--                    if (selected[index]) {-->
<!--                        sb.remove(index);-->
<!--                    }-->
<!--                }-->
<!--            };-->
<!--        </script>-->
<!--        <br>-->
<!--        <input type="submit"></input>-->
<!--    </form>-->
    <div class="container">
        <h2> Advanced Search </h2>
    </div>
    <div class="container">
		<form action="{{ url_for('advanced_search') }}" method="POST">
			<div class="form-group row">
				<label for="search" class="col-sm-3 col-form-label text-sm-right">Query:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="search" name="phrase">
				</div>
			</div> <!-- .form-group -->
			<div class="form-group row">
				<label for="tag-id" class="col-sm-3 col-form-label text-sm-right">Tags:</label>
				<div class="col-sm-9">
					<select name="tag" id="tag-id" class="form-control">
						<option value="" selected>-- All --</option>
                        <option value="http://recipedb.com/tag130"> Dinner</option>

						<!-- Genre dropdown options here -->
<!--<?php while($row = $genre->fetch_assoc()): ?>-->
<!--	<option value="<?php echo $row['genre_id']; ?>">-->
<!--		<?php echo $row['genre']; ?>-->
<!--	</option>-->
<!--<?php endwhile; ?>-->

					</select>
				</div>
			</div>
            <div class="form-group row">
                <label for="health-score" class="col-sm-3 col-form-label text-sm-right">Health Score:</label>
                <div class="col-sm-9">

                    <b>0</b> <input id="health-score" type="text" class="span2" value="" data-slider-min="0" data-slider-max="10" data-slider-step="0.1" data-slider-value="[5,8]"/> <b>10</b>
                </div>
            </div>

            <div class="form-group row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9 mt-2">
					<button type="submit" class="btn btn-primary">Search</button>
					<button type="reset" class="btn btn-light">Reset</button>
				</div>
			</div>
        </form>



    {% if success=="success" %}
        {% for r in result %}
            <h2>Recipe Name:{{ r.get("n")["rdfs__label"][0] }}</h2>
            <h3>Recipe URL:{{ r.get("n")["uri"] }}</h3>
            <h3>Ingredients:</h3>
            <ul>
                {% for i in r.get("n")["sch__recipeIngredient"] %}
                    <li>{{ i }}</li>
                {% endfor %}
            </ul>
            <h3>Instructions:</h3>
            <ol>
                {% for i in r.get("ins")["sch__itemListElement"] %}
                    <li>{{ i }}</li>
                {% endfor %}
            </ol>
            <h3>Rating:{{ r.get("n")["sch__aggregateRating"][0] }}/5</h3>
            <h3>Health Score:{{ r.get("n")["sch__healthScore"][0] }}/10</h3>
        {% endfor %}
    {% endif %}
</body>
<!-- <script>
document.getElementById('generate').onclick = function() {
 
 var values = ["sch__calories","sch__fatContent","sch__carbohydrateContent","sch__sugarContent","sch__proteinContent","sch__sodiumContent","sch__fiberContent","sch__saturatedFatContent","sch__transFatContent","sch__monounsaturatedFatContent","sch__polyunsaturatedFatContent","sch__cholesterolContent","sch__calciumContent","sch__magnesiumContent","sch__potassiumContent","sch__ironContent","sch__zincContent","sch__phosphorusContent","sch__vitaminAContent","sch__vitaminCContent","sch__thiaminB1Content","sch__riboflavinB2Content","sch__niacinB3Content","sch__vitaminB6Content","sch__folicAcidContent","sch__vitaminB12Content","sch__vitaminDContent","sch__vitaminEContent","sch__vitaminKContent"];

 var select = document.createElement("select");
 select.name = "pets";
 select.id = "pets"

 for (const val of values)
 {
     var option = document.createElement("option");
     option.value = val;
     if (val.includes("Content")) {
        option.text = val.slice(5,-7);
        }
        else {
            option.text = val.slice(5);
        }
            
     select.appendChild(option);
 }

 var label = document.createElement("label");
 label.innerHTML = "Choose your pets: "
 label.htmlFor = "pets";

 document.getElementById("container").appendChild(label).appendChild(select);
 var select2 = document.createElement("select");
 select2.name = "quant";
 select2.id = "quant";
 
}
</script> -->
</html>
<script>
    $("#health-score").slider({});
</script>