<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .body{
        padding-top: calc(.5rem - 1px * 2);
			padding-bottom: calc(.5rem - 1px * 2);
			margin-bottom: 0;
			}

		.section{
		     border-radius: 25px;
              border: 2px solid black;
              padding: 20px;
              height: 50px;
              margin-bottom: 10px;
              text-align: center;
		}
    </style>
</head>
            
<title>RecipeDB Home</title>
<body>
    <div class="container">
    <div class="row">
        <a class="col-7 mt-4 mb-4" href="{{url_for('index') }}"><h1>RecipeDB</h1> </a>
        <a class="col-1 mt-4 mb-4" href="{{ url_for('search') }}">Search</a>
        <a class="col-2 mt-4 mb-4" href="{{ url_for('advanced_search') }}">Advanced Search</a>
        <a class="col-2 mt-4 mb-4" href="{{ url_for('backwards_ingredient') }}">Find via Ingredient</a>
    </div>
</div>
<!--    {% if success=="success" %}-->
<!--        {% for r in result %}-->
<!--            <h2>Recipe Name:{{ r.get("n")["rdfs__label"][0] }}</h2>-->
<!--            <h3>Recipe URL:{{ r.get("n")["uri"] }}</h3>-->
<!--            <h3>Ingredients:</h3>-->
<!--            <ul>-->
<!--                {% for i in r.get("n")["sch__recipeIngredient"] %}-->
<!--                    <li>{{ i }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--            <h3>Instructions:</h3>-->
<!--            <ol>-->
<!--                {% for i in r.get("ins")["sch__itemListElement"] %}-->
<!--                    <li>{{ i }}</li>-->
<!--                {% endfor %}-->
<!--            </ol>-->
<!--            <h3>Rating:{{ r.get("n")["sch__aggregateRating"][0] }}/5</h3>-->
<!--            <h3>Health Score:{{ r.get("n")["sch__healthScore"][0] }}/10</h3>-->
<!--            <h3>Authors:</h3>-->
<!--            <ul>-->
<!--                {% for i in r.get("authors") %}-->
<!--                    <li><a href="{{ url_for('author_recipes', author=i) }}">{{ i }}</a></li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        {% endfor %}-->
<!--    {% endif %}-->

    <div class="container"> <h3> Health/Nutrition </h3></div>
 <div class="container">
        <div class="row list-section">
            <div class="col col-6 col-md-4 col-lg-3 section">
                <b>Healthy</b>
            </div>
            <div class="col col-6 col-md-4 col-lg-3 section">
                <b>Cheat Day</b>
            </div>
            <div class="col col-6 col-md-4 col-lg-3 section">
                <b>Dairy Free</b>
            </div>
            <div class="col col-6 col-md-4 col-lg-3 section">
                <b>Nut Free</b>
            </div>
            <div class="col col-6 col-md-4 col-lg-3 section">
                <b>Low Sodium</b>
            </div>
            <div class="col col-6 col-md-4 col-lg-3 section">
                <b>Low Carbs</b>
            </div>
            <div class="col col-6 col-md-4 col-lg-3 section">
                <b>Low Cholesterol</b>
            </div>
        </div>
 </div>

</body>
</html>